<footer class="footer has-background-light">
  <section class="container">
    <div class="columns">
      <div class="column">
        <div class="menu">
          <p class="menu-label"><%= t('footer.about_us') %></p>
          <ul class="menu-list">
            <li><a><%= t('footer.about') %></a></li>
            <li><a><%= t('footer.privacy_policy') %></a></li>
            <li><a><%= t('footer.term_of_service') %></a></li>
          </ul>   
        </div>
      </div>
      <div class="column">
        <div class="menu">
          <p class="menu-label"><%= t('footer.guest_service') %></p>
          <ul class="menu-list">
            <li><a><%= t('footer.exchange') %></a></li>
            <li><a><%= t('footer.service') %></a></li>
          </ul>   
        </div>
      </div>
      <div class="column subscribe" data-controller="subscribe">
        <div class="menu">
          <p class="menu-label"><%= t('footer.newsletter') %></p>
          <form action="#">
            <div class="field has-addons">
              <div class="control has-icons-left is-expanded">
                <input type="email" data-subscribe-target="email" placeholder="<%= t('footer.sub_placeholder') %>" name="email" class="input is-rounded">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
              <div class="control">
                <input type="submit" data-action="subscribe#add" value="<%= t('footer.submit') %>" class="button is-primary is-rounded">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</footer>
