<nav class="navbar has-shadow" role="navigation" aria-label="main navigation" data-controller="trigger">
  <div class="navbar-brand">
    <a class="" href="/">
      <%= image_pack_tag 'shopify_logo.png', size: '160', style: 'margin-left: 10px; margin-top: 4px;' %>
    </a>

    <div class="is-hidden-desktop cart-position" data-controller="cart" data-trigger-target="object">
      <%= render 'shared/frontend/cart_icon' %>
    </div>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic" data-action="trigger#switch">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item field has-addons">
        <form class="flex">
          <%= search_form_for @q do |form| %>
            <div class="control">
              <%= form.search_field :name_or_vendor_title_cont, class: 'input', placeholder: t('nav_bar.keyword') %>
            </div>
            <div class="control">
              <%= form.submit t('nav_bar.search'), class: 'button is-primary' %>
            </div>
          <% end %>
        </form>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <% if user_signed_in? %>
          <div class="nvabar-item is-hidden-touch" data-controller="cart">
            <%= render 'shared/frontend/cart_icon' %>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <i class="fas fa-user"></i>&nbsp;<%= current_user.email %>
            </a>
            <div class="navbar-dropdown">
              <%= link_to t('nav_bar.profile'), edit_user_registration_path, class: 'navbar-item' %>
              <%= link_to t('nav_bar.order_list'), orders_path, class: 'navbar-item' %>
              <hr class="navbar-divider">
              <%= link_to t('nav_bar.log_out'), destroy_user_session_path, method: :delete, class: 'navbar-item' %>
              <div class="navbar-item is-hidden-desktop">
                <%= render 'shared/frontend/lang' %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="nvabar-item mr-4" data-controller="cart">
            <%= link_to cart_path do %>
              <i class="fas fa-shopping-cart"></i>
              <span data-cart-target="count" data-action="addToCart@document->cart#updateCart">
                (<%= current_cart.items.count %>)
              </span>
            <% end %>
          </div>
          <%= link_to t('button.sign_up'), new_user_registration_path, class: 'button is-primary' %>
          <%= link_to t('button.log_in'), new_user_session_path, class: 'button is-light' %>
        <% end %>
      </div>
      <div class="navbar-item is-hidden-touch">
        <%= render 'shared/frontend/lang' %>
      </div>
    </div>
  </div>
</nav>
