<% if current_cart.empty? %>
  <p><%= t('cart.current_cart') %></p>
  <%= link_to t('cart.continue_buy'), root_path, class: 'button mt-4' %>
<% else %>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th><%= t('product.item') %></th>
        <th>
          <div class="tags has-addons">
            <span class="tag"><%= t('product.list_price') %></span>
            <span class="tag is-danger"><%= t('product.sell_price') %></span>
          </div>
        </th>
        <th>Sku</th>
        <th><%= t('product.quantity') %></th>
        <th><%= t('cart.subtotal') %></th>
      </tr>
    </thead>
    <tbody>
      <% current_cart.items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td>
            <%= item.product.list_price %> / <span style="color:red"><%= item.product.sell_price %></span>
          </td>
          <td><%= find_sku(item.sku_id).spec %></td>
          <td><%= item.quantity %></td>
          <td><%= item.total_price %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <strong><%= t('cart.total_price') %></strong>
        </td>
        <td>
          <strong><%= current_cart.total_price %></strong>
        </td>
      </tr>
    </tfoot>
  </table>
  <%= link_to t('cart.continue_buy'), root_path, class: 'button' %>
  <%= link_to t('button.payment'), payment_cart_path, class: 'button is-primary' %>
<% end %>
