<% if current_cart.empty? %>
  <p><%= t('cart.current_cart') %></p>
  <%= link_to t('cart.continue_buy'), root_path, class: 'button mt-4' %>
<% else %>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th><%= t('product.item') %></th>
        <th><%= t('product.list_price') %> / <%= t('product.sell_price') %></th>
        <th>Sku</th>
        <th><%= t('product.quantity') %></th>
        <th><%= t('cart.subtotal') %></th>
      </tr>
    </thead>
    <tbody>
      <% current_cart.items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= item.product.list_price %> / <%= item.product.sell_price %></td>
          <td><%= find_sku(item.sku_id).spec %></td>
          <td><%= item.quantity %></td>
          <td><%= item.total_price %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4"><%= t('cart.total_price') %></td>
        <td><%= current_cart.total_price %></td>
      </tr>
    </tfoot>
  </table>
  <%= link_to t('cart.continue_buy'), root_path, class: 'button' %>
  <%= link_to t('cart.go_checkout'), checkout_cart_path, class: 'button is-danger' %>
<% end %>