<section class="section">
  <h1 class="title"><%= t('cart.checkout') %></h1>
  <%= render 'cart' %>

  <hr>
  <h2 class="title is-5"><%= t('cart.info') %></h2>

  <%= form_with(model: @order) do |form| %>
    <div class="columns">
      <div class="column">
        <div class="field">
          <%= form.label :recipient, t('cart.recipient'), class: 'label' %>
          <%= form.text_field :recipient, class: 'input is-medium' %>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <%= form.label :tel, t('cart.tel'), class: 'label' %>
          <%= form.text_field :tel, class: 'input is-medium' %>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <%= form.label :address, t('cart.address'), class: 'label' %>
          <%= form.text_field :address, class: 'input is-medium' %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= form.label :note, t('cart.note'), class: 'label' %>
      <%= form.text_area :note, class: 'textarea is-medium' %>
    </div>
    <div class="field">
      <%= form.submit 'LINE Pay', class: 'button line-button is-medium', data: { confirm: t('cart.checkout_confirm') } %>
    </div>
  <% end %>

</section>