<h1 class="title"><%= t('admin.category.list') %></h1>

<%= link_to t('admin.category.add_category'), new_admin_category_path, class: 'button is-primary is-small' %>

<article class="message">
  <div class="message-body">
    <i class="far fa-lightbulb"></i>&nbsp;
    <%= t('admin.category.category_info') %>
  </div>
</article>

<table class="table is-fullwidth has-shadowed">
  <thead>
    <tr>
      <th><%= t('admin.category.name') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="sortable-items">
    <% @categories.each do |category| %>
      <tr class="item" data-item="<%= dom_id(category) %>">
        <td>
          <i class="fas fa-bars"></i>&nbsp;
          <%= link_to category.name, edit_admin_category_path(category) %>
        </td>
        <td>
          <%= link_to t('admin.button.edit'), edit_admin_category_path(category), class: 'button is-light is-small' %>
          <%= link_to t('admin.button.delete'), admin_category_path(category), method: :delete, data: { confirm: t('admin.category.delete_confirm') }, class: 'button is-danger is-small' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>