<% if vendor.errors.any? %>
  <div class="notification is-danger is-light">
    <i class="fas fa-exclamation-circle"></i>
    <%= vendor.errors.full_messages.to_sentence %>
  </div>
<% end %>

<%= form_with(model: [:admin, vendor]) do |form| %>
  <div class="field">
    <%= form.label :title, t('admin.vendor.name'), class: 'label' %>
    <%= form.text_field :title, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :description, t('admin.vendor.description'), class: 'label' %>
    <%= form.text_area :description, class: 'textarea' %>
  </div>

  <div class="field">
    <%= form.check_box :online %>
    <%= form.label :online, t('admin.vendor.online'), class: 'checkbox' %>
  </div>

  <%= form.submit class: 'button is-primary is-medium' %>
<% end %>