<h1 class="title"><%= t('admin.vendor.list') %></h1>

<%= link_to t('admin.button.add_vendor'), new_admin_vendor_path, class: 'button is-primary is-small' %>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th><%= t('admin.vendor.name') %></th>
      <th><%= t('admin.vendor.description') %></th>
      <th><%= t('admin.vendor.online') %></th>
      <th><%= t('admin.vendor.updated_at') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @vendors.each do |vendor| %>
    <tr>
      <td><%= link_to vendor.title, edit_admin_vendor_path(vendor) %></td>
      <td><%= strip_tags(vendor.description).truncate(100) %></td>
      <td><%= vendor.online %></td>
      <td><%= local_datetime(vendor.updated_at) %></td>
      <td>
        <%= link_to t('admin.button.edit'), edit_admin_vendor_path(vendor), class: 'button is-light is-small' %>
        <%= link_to t('admin.button.delete'), admin_vendor_path(vendor), method: :delete, data: { confirm: t('admin.vendor.delete_confirm') }, class: 'button is-danger is-small' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>